<div class="sign-inup" style="padding-top: 0px !important;">
    <div class="sign-logo" id="logo">
        <a href="index.html"><img style="width: 100%;" src="assets/images/custom/homeLogo.png" alt=""></a>
    </div>
    <div
        style="background-color: #92e9b3;letter-spacing: 0.2rem;font-size: 3rem;text-align: center;margin-top: -5px;padding-top: 10px;padding-bottom: 10px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
        <span>fast</span><span style="color:white;">nearby</span>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="sign-form">
                    <div class="sign-inner">
                        <!-- <div class="sign-logo" id="logo">
                            <a href="index.html"><img style="width: 100%;" src="assets/images/custom/homeLogo.png"
                                    alt=""></a>
                        </div>
                        <div style="background-color: #92e9b3;letter-spacing: 0.2rem;font-size: 3rem;text-align: center;margin-top: -5px;padding-top: 10px;padding-bottom: 10px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
                            <span>fast</span><span style="color:white;">nearby</span>
                        </div> -->
                        <div class="">
                            <div class="form-inpts checout-address-step">
                                <form>
                                    <!-- <div class="form-title">
                                        <h6>Sign In</h6>
                                    </div> -->
                                    <div class="form-group pos_rel">
                                        <input id="phone[number]" name="phone" type="text"
                                            placeholder="Enter Phone Number" class="form-control lgn_input" required="">
                                        <i class="uil uil-mobile-android-alt lgn_icon" style="top: 14% !important;"></i>
                                    </div>
                                    <div class="form-group pos_rel">
                                        <input id="password1" name="password1" type="password"
                                            placeholder="Enter Password" class="form-control lgn_input" required="">
                                        <i class="uil uil-padlock lgn_icon" style="top: 14% !important;"></i>
                                    </div>
                                    <a [routerLink]="['/dashboard']" style="background-color:#52e088;font-weight: bold;
                                    padding-top: 10px;" class="login-btn hover-btn" type="submit">Sign In Now</a>
                                </form>
                            </div>
                            <div class="password-forgor">
                                <a href="forgot_password.html">Forgot Password?</a>
                            </div>
                            <div class="cz-footer signup-link">
                                <p>Don't have an account? <a style="color: #52e088;
                                    font-size: 12px;
                                    border: 2px solid #52e088;
                                    padding: 7px 10px;
                                    border-radius: 8px;
                                    display: inline-block;
                                    margin-left: 5px;
                                    background: white;" [routerLink]="['/dashboard']">Sign Up Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="copyright-text text-center mt-3">
                    <i class="uil uil-copyright"></i>Copyright 2020 <b>Gambolthemes</b> . All rights reserved
                </div> -->
            </div>
        </div>
    </div>
</div>